<section class="recipe-details">
  <h2><%= @recipe.name %></h2>
  <div class="recipe-details-body">
    <div>
      <p>Preparation time: <%= @recipe.prepraration_time %> hours</p>
      <p>Cooking time: <%= @recipe.cooking_time %> hours</p>
      <p>Description: <%= @recipe.description %></p>
    </div>
    <div>
      <label for="checkbox">Public</label>
      <label class="switch">
        <input type="checkbox" class="toggle" name="checkbox" <%= @recipe.public ? 'checked' : '' %> />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</section>

<script type="text/javascript" charset="utf-8">
          var checkbox = document.querySelector('.toggle');
        var recipeId = <%= @recipe.id %>;

        checkbox.addEventListener('change', function() {
            var isChecked = checkbox.checked;

            fetch("<%= update_public_recipe_path(@recipe.id) %>", {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    "X-CSRF-Token": "<%= form_authenticity_token %>",
                },
                body: JSON.stringify({
                    public: isChecked
                }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error updating public status');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data.status);
                })
                .catch(error => {
                    console.error(error.message);
                });
        });
</script>